[user]
	name = Sangit Manandhar
	email = rux12@icloud.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	symlinks = false
	autocrlf = input
	excludesfile = /Users/sangitmanandhar/.gitignore
[diff]
    external = difft
	; tool = vimdiff
[init]
	defaultBranch = main
[coderabbit]
	machineId = cli/f5aaa1faa4f54c02af5a869666cc2b0e
