{
 :profiles {
    :Default {
        :default true
        :sim     30
        :alone   150
        :delay   200
        :held    150
    }
  }

 :simlayers {
             :paren-mode {:key :f} ;; (){}[]
             :symbol-mode {:key :a} ;; &|!+=*%r~`
             :mouse-mode {:key :spacebar} ;; mouse-movements
             }

 :main [
        {:des "left_control to left_control + left_command + left_option"
         :rules [[:##left_control :!COleft_control ]]
         }

        {:des "tab to shift <key>, or tab when pressed alone"
         :rules [[:##tab :right_shift nil {:alone :tab} ]]
         }

        {:des "paren-mode"
         :rules [:paren-mode
                 [:##u :4]
                 [:##i :7]
                 [:##j :3]
                 [:##k :8]
                 [:##m :2]
                 [:##comma :9]
                 ]
         }

        {:des "symbol-mode"
         :rules [:symbol-mode
                 [:##h :!Shyphen]
                 [:##j :1]
                 [:##k :6]
                 [:##l :0]
                 [:##m :equal_sign]
                 [:##comma :5]
                 [:##period :hyphen]
                 [:##u :grave_accent_and_tilde]
                 [:##i :!Sgrave_accent_and_tilde]
                 [:##o :!Sequal_sign]

                 [:##semicolon :close_bracket]
                 [:##slash :!Sclose_bracket]
                 [:##p :!Sbackslash]
                 [:##y :backslash]
                 ]
         }

        {:des "mouse-mode"
         :rules [:mouse-mode
                 [:##i {:mkey {:y -1536}}]
                 [:##k {:mkey {:y 1536}}]
                 [:##j {:mkey {:x -1536}}]
                 [:##l {:mkey {:x 1536}}]
                 [:##n {:mkey {:vwheel -32}}]
                 [:##h {:mkey {:vwheel 32}}]
                 [:##a {:mkey {:hwheel -32}}]
                 [:##f {:mkey {:hwheel 32}}]
                 [:##s {:pkey :button1}]
                 [:##d {:pkey :button2}]
                 ]
         }

        ]
 }
